#profile-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 520px;
  width: 100%;
  flex-direction: column;
  background-color: #bdb76b;
  background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
}

@media only screen and (min-width: 1024px) {
  #profile-header {
    height: 400px;
    width: 300px;
    margin: 200px 70px 50px 70px;
    flex: 1;
  }
}
