.new-tweet button, output {
  font-family: 'Bungee', sans-serif;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
}

.new-tweet button {
  background-color: #4056A1;
  color: #ffffff;
}

.new-tweet label {
  font-weight: bold;
}

#tweet-text {
  width: 100%;
  border: none;
  border-bottom: 2px solid;
  background-color: #f4f1ec;
}

.negativeCount {
  color: red;
}

#error-message {
  color: red;
  font-size: 16px;
  display: none;
}

.tweet-submit-button {
  transition-duration: 0.4s;
}

.tweet-submit-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

article:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
